:root {
    --background: #00ffdd;
    --sidebar-width: 256px;
    --sidebar-width-min: 80px;
    --sidebar-dark-primary: #18283b;
    --sidebar-dark-secondary: #2c3e50;
    --sidebar-light-primary: #f5f6fa;
    --sidebar-light-secondary: #f5f6fa;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
body:after {
    background-image: url('picture/bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}
pointer-particles {
    position: fixed;
}
nav {
    background-color: rgba(0, 0, 0, 0.20);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    top: 0;
}
.menuItems {
    list-style: none;
    display: flex;
}
.menuItems li i {
    text-align: center;
}
.menuItems li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
    margin: 20px;
}
.menuItems li a::before {
    content: attr(data-item);
    text-decoration: underline;
    border-bottom: 4px;
    transition: 0.5s;
    color: #00ffdd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
.menuItems li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}
nav #name {
    left: 50px;
    font-family: Arial, sans-serif;
    position: absolute;
    cursor: default;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.hero {
    text-align: center;
    padding: 50px 0;
}
footer {
    background-color: #d9ede500;
    color: #000;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
#side-content {
    position: absolute;
    right: 0;
}
#side-content .card-widget {
    position: fixed;
    padding: 0 15px 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#side-content .webinfo{
    bottom: 60px;
    right: 15px;
    height: 200px;
    width: 250px;
}
#side-content .intro{
    top: 75px;
    right: 15px;
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
#side-content .intro hr {
     margin: 0 auto;
     position: relative;
     width: 200px;
     border: none;
     border-top: solid 1px #666666;
 }
#side-content .intro p {
    color: #444;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* 悬停效果：放大和增加阴影 */
#side-content .card-widget:hover {
    transform: scale(1.01); /* 放大 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 增加阴影 */
}
#side-content .card-widget .counter {
    bottom: 10px;
    right: 50px;
    position: absolute;
}
#side-content .card-widget .counter-text {
    bottom: 70px;
    position: absolute;
    color: #333;
    font-size: 15px;
}
#side-content .card-widget .time-text {
    bottom: 120px;
    position: absolute;
    color: #333;
    font-size: 15px;
}
.blog {
    background-color: #ffffffCC;
    width: 65%;
    padding: 20px;
    margin: 20px 110px 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.blog h2 {
    font-size: 32px;
    color: #333;
}

.post-meta {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.post-body p {
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 15px;
}

.post-body h3 {
    font-size: 24px;
    margin-top: 20px;
}
#gitalk-container {
    position: relative;
    width: 60%;
    margin: 0 auto;
}
#pointer-particles {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#sidebar-toggle:checked ~ #sidebar-header {
    width: calc(var(--sidebar-width-min) - 16px);
}

#sidebar-toggle:checked ~ #sidebar-content, #sidebar-toggle:checked ~ #sidebar-footer {
    width: var(--sidebar-width-min);
}

#sidebar-toggle:checked ~ #sidebar-header #sidebar-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s;
}

#sidebar-toggle:checked ~ #sidebar-header label[for="sidebar-toggle"] {
    left: calc(50% - 8px);
    transform: translate(-50%);
}

#sidebar-toggle:checked ~ #sidebar-header #sidebar-toggle-burger {
    background: var(--sidebar-light-primary);
}

#sidebar-toggle:checked ~ #sidebar-header #sidebar-toggle-burger:before, #sidebar-toggle:checked ~ #sidebar-header #sidebar-toggle-burger:after {
    width: 16px;
    background: var(--sidebar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
}

#sidebar-toggle:checked ~ #sidebar-content .sidebar-button span {
    opacity: 0;
    transition: opacity .1s;
}

#sidebar-toggle:checked ~ #sidebar-content .fa {
    min-width: calc(100% - 16px);
}

#sidebar-toggle:checked ~ #sidebar-footer #sidebar-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
}

#sidebar-toggle:checked ~ #sidebar-footer #sidebar-footer-titlebox, #sidebar-toggle:checked ~ #sidebar-footer label[for="sidebar-footer-toggle"] {
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
}

#sidebar-bar {
    position: fixed;
    left: 10px;
    top: 60px;
    height: calc(100% - 20vw);
    background: var(--sidebar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--sidebar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
}

#sidebar-bar hr {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--sidebar-dark-secondary);
}

#sidebar-bar a {
    color: inherit;
    text-decoration: inherit;
}

#sidebar-bar input[type="checkbox"] {
    display: none;
}

#sidebar-header {
    position: relative;
    left: 16px;
    width: calc(var(--sidebar-width) - 16px);
    min-height: 80px;
    background: var(--sidebar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .2s;
}

#sidebar-title {
    font-size: 1.5rem;
    transition: opacity 1s;
}

label[for="sidebar-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#sidebar-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--sidebar-dark-primary);
    border-radius: 99px;
    transition: background .2s;
}

#sidebar-toggle-burger:before, #sidebar-toggle-burger:after {
    content: '';
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--sidebar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: .2s;
}

#sidebar-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
}

#sidebar-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--sidebar-width);
    background: var(--sidebar-dark-primary);
    box-shadow: 0 0 0 16px var(--sidebar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width .2s;
}

#sidebar-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#sidebar-content-highlight {
    position: absolute;
    left: 16px;
    top: calc(-54px - 16px);
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s;
}

#sidebar-content-highlight:before, #sidebar-content-highlight:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}

#sidebar-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

.sidebar-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--sidebar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color .2s;
}

.sidebar-button span {
    transition: opacity 1s;
    margin: 0 auto;
}

.sidebar-button .fa {
    transition: min-width .2s;
}

.sidebar-button:nth-of-type(1):hover ~ #sidebar-content-highlight { top: calc((1 - 1) * 54px + 16px); }
.sidebar-button:nth-of-type(2):hover ~ #sidebar-content-highlight { top: calc((2 - 1) * 54px + 16px); }
.sidebar-button:nth-of-type(3):hover ~ #sidebar-content-highlight { top: calc((3 - 1) * 54px + 16px); }

/* Repeat this pattern for other .sidebar-button:nth-of-type(N):hover selectors */

#sidebar-bar .fa {
    min-width: 3rem;
    text-align: center;
}
